.workflow-canvas {
  display: flex;
  margin-top: 1px;
  height: 800px;
  border: 2px solid #b81f9e;
  background-color: #220542;
  background-image: radial-gradient(white 1%, transparent 8%);
  background-size: 15px 15px;
}
.left-panel {
  margin-top: 20px;
  margin-left: 10px;
  background-color: 220542;
  padding: 5px;
  border-radius: 10rem;
  
}

.canvas {
  flex: 1;
}
